<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app>
    <input type="text" ng-model="query">
    <select ng-model="order">
        <option value="username">Organiser par Nom</option>
        <option value="content">organiser par contenu</option>
    </select>
    
    <div ng-init="users=[{username :'Marc', content :'Salut  les gens'} ,
     {username :'Jean', content :'Je suis content'} ,
     {username :'John', content :'First'}]">

    <ul>
        <li ng-repeat="user in users | filter :{content:query} | orderBy:order">
            {{user | uppercase}}
        </li>
        
    </ul>
       
</div>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">

   </script>
</body>
</html>