<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app>

    <!--QUERY permet de filtrer par nom dans la table users-->
<input type="text" ng-model="query">

<div ng-init="users=['Mamadou' , 'Hassim' , 'Diallo']">
    <ul>
        <li ng-repeat="user in users | filter : query">
            {{user | uppercase }}
        </li>
    </ul>
    
   
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">

   </script>
</body>
</html>